@import 'vendor/normalize.scss';
@import 'variables.scss';
@import 'components/titles.scss';
@import 'components/btn.scss';
@import 'components/header.scss';
@import 'components/hero.scss';
@import 'components/features.scss';
@import 'components/system.scss';
@import 'components/quotes.scss';
@import 'components/subscribe.scss';
@import 'components/footer.scss';

@font-face {
  font-weight: 700;
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/BebasNeue.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Bold.ttf');
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Bebas Neue', 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}

h1 {
  margin: 0;
}

p {
  font-size: 1.5rem;
}

.bg-1 {
  background-image: url('../img/BG-1.png');
  min-height: 960px;
  background-size: cover;
  position: relative;
}

.gradient-1 {
  width: 100%;
  height: 100%;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0.00) 0%, rgba(52, 44, 29, 0.80) 73.22%, #08090A 99.74%);
  position: absolute;
  top: 0;
  z-index: 1;
}

.scroll-down {
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 183.333% */
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 61px;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='11' viewBox='0 0 23 11' fill='none'%3E%3Cpath d='M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 23px;
    height: 11px;
    content: '';
    position: absolute;
    bottom: -15px;
    left: calc(50% - 23px / 2);
  }
}