.btn {
    width: 260.362px;
    height: 60px;
    display: block;
    color: #1A1917;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 4px;
    background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
    padding-top: 19px;
    border: none;
}