.features {
    padding: 168px 114px 269px 0;
    background-image: url('../img/BG-3.png');
    background-size: cover;
    min-height: 100vh;

    @media(max-width: 900px) {
        background-image: url('../img/BG-3-mobile.png');
        padding: 168px 0px 269px 0;
    }

    @media(max-width: 767px) {
        background-image: url('../img/BG-IMAGE-MOBILE.png');
        min-height: 0;
        padding: 82px 0px 100px;
        BACKGROUND-POSITION: center;
    }

    &__wrapper {
        width: 410px;
        margin-left: auto;

        @media(max-width: 767px) {
            width: 235px;
        }
    }

    &__subtitles {
        color: #FFB548;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;

        @media(max-width: 767px) {
            font-size: 21px;
        }
    }

    &__text {
        color: #FFF;
        text-align: justify;
        font-family: Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 122.222% */

        @media(max-width: 767px) {
            font-size: 14px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__group {
        display: flex;
        gap: 33px;

        @media(max-width: 767px) {
            gap: 9px;
        }
    }

    &__dots {
        display: flex;
        flex-direction: column;
    }

    &__dot {
        width: 14px;
        height: 14px;
        border: 1px solid #FFF;
        border-radius: 50%;

        &--active {
            background-color: #FFF;
        }

        &:nth-child(1) {
            margin-top: 13px;
            margin-bottom: calc(136px - 13px);
            position: relative;

            @media(max-width: 767px) {
                margin-top: 7px;
                margin-bottom: 150px;
            }


            &::after {
                content: '';
                position: absolute;
                width: 2px;
                height: calc(137px - 13px);
                background-color: #FFF;
                top: 100%;
                left: calc(50% - 2px / 2);

                @media(max-width: 767px) {
                    height: 152px;
                }
            }
        }

        &:nth-child(2) {
            margin-bottom: 62px;

            @media(max-width: 767px) {
                margin-bottom: 66px;
            }
        }
    }

    &__title {
        @media(max-width: 767px) {
            margin-bottom: 32px;
            margin-left: 22px;
        }
    }
}