.header {
    padding-top: 20px;
    z-index: 12;
    position: relative;
    padding-bottom: 50px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media(max-width: 900px) {
            justify-content: left;
        }
    }

    &__logo {
        width: 55px;
        height: 55px;

        img {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        gap: 50px;

        @media(max-width: 900px) {
            display: none;
        }
    }

    &__link {
        color: #FFF;
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
            color: #FFB548;
        }
    }

    &__select {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 14px 0;

        &::after {
            content: '';
            width: 10px;
            height: 6px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M1.48047 1.11331L5.12832 4.31369L8.77552 1.11331' stroke='white' stroke-width='1.4' stroke-linecap='round'/%3E%3C/svg%3E");
            transition: transform 0.3s;
        }
    }

    &__lang--list {
        position: absolute;
        padding: 10px 20px 10px 8px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.75);
        bottom: -85px;
        transition: opacity 0.3s;
        bottom: -74px;
        display: none;
    }

    &__lang {
        position: relative;


        &:hover {
            .header__lang--list {
                display: block;
            }

            .header__select {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        @media(max-width: 900px) {
            margin-left: auto;
        }
    }

    &__btns {
        display: flex;
        gap: 17px;

        @media(max-width: 900px) {
            display: none;
        }
    }

    &__btn {
        width: 30px;
        height: 30px;

        img {
            width: 100%;
        }
    }

    &__menu-btn {
        // background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9.49854' y='15.0166' width='14.585' height='2.5' rx='1.25' fill='white'/%3E%3Crect x='0.596191' y='7.51657' width='23.4873' height='2.5' rx='1.25' fill='white'/%3E%3Crect x='0.596191' y='0.016571' width='23.4873' height='2.5' rx='1.25' fill='white'/%3E%3C/svg%3E");
        width: 23px;
        height: calc(7px * 2 + 6px);
        position: relative;

        @media(min-width: 901px) {
            display: none;
        }

        span {
            width: 23px;
            height: 2px;
            position: absolute;
            background-color: #FFF;
            border-radius: 2px;
            left: 0;
            top: 50%;
            transition: transform 0.3s, opacity 0.2s;

            &:nth-child(1) {
                transform: translateY(-7px);
            }

            &:nth-child(3) {
                transform: translateY(7px);
            }
        }

        &--close {

            span {
                width: 23px;
                height: 2px;
                position: absolute;
                background-color: #FFF;
                border-radius: 2px;
                left: 0;
                top: 50%;
                transition: transform 0.3s, opacity 0.2s;

                &:nth-child(1) {
                    transform: translateY(-0px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(0px) rotate(-45deg);
                }
            }
        }
    }

    &__stick {
        width: 2px;
        height: 30px;
        background-color: #FFF;
        opacity: 0.5;
        margin-right: 19px;
        margin-left: 15px;

        @media(min-width: 901px) {
            display: none;
        }

    }

}