.header {
    padding-top: 20px;
    z-index: 10;
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 55px;
        height: 55px;

        img {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        gap: 50px;

        @media(max-width: 900px) {
            display: none;
        }
    }

    &__link {
        color: #FFF;
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &__lang-list {
        display: none;
    }

    &__btns {
        display: flex;
        gap: 17px;

        @media(max-width: 900px) {
            display: none;
        }
    }

    &__btn {
        width: 30px;
        height: 30px;

        img {
            width: 100%;
        }
    }
}