.subscribe {

    background-color: #080a0b;

    &__wrapper {
        background-image: url('../img/image.png');
        background-position: left center;
        background-repeat: no-repeat;
        padding: 220px 0 142px 500px;

        @media(max-width: 900px) {
            background-position: center top;
            padding: 650px 0 142px;
        }
    }

    &__title {
        margin-bottom: 45px;

        @media(max-width: 900px) {
            text-align: center;
        }
    }

    &__descr {
        color: #FFF;
        font-family: Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 65px;

        @media(max-width: 900px) {
            text-align: center;
        }
    }

    &__form {
        display: flex;
        align-items: flex-end;

        @media (max-width: 1040px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    &__label {
        position: relative;

        @media (max-width: 1040px) {
            width: 100%;
        }

        span {
            position: absolute;
            left: 21px;
            top: 6px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__input {
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.08);
        width: 366.922px;
        height: 60px;
        color: #FFB548;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 21px;
        border: none;
        padding-top: 28px;
        padding-bottom: 11px;

        @media (max-width: 1040px) {
            width: 100%;
        }

        &::placeholder {
            color: #ffc265d3;
        }
    }

    &__btn {
        border-radius: 4px;
        background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
        width: 260px;
        height: 60.251px;
        padding-top: 0px;
        margin-left: 17px;

        @media (max-width: 1040px) {
            width: 100%;
            margin-left: 0;
        }
    }
}